<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Real Time Human Tracker</title>
		<link rel="stylesheet" type="text/css" href="./styles.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

	</head>
	<body>
		<div class="container-fluid" id='main_div'>
			<div class="row" id='kpi_row'>
				<div class="col-sm-2" id='total_count'></div>
				<div class="col-sm-2" id='total_sos'></div>
				<!-- <div class="col-sm-4">.col-sm-4</div> -->
				<!-- <div class="col-sm-7" id='trend_chart'></div> -->
				<div class="col-sm-7"></div>
				<div class="col-sm-1" id='clock'></div>
			</div>
			<div class="row" id='viz_row'>
				<div id='viz_z0'>
					<div id="human_track"></div>
				</div>
				<div id='viz_z1_vid1'>
						<iframe id='vid1' width="540" height="315" src="https://www.youtube.com/embed/6KXSYfwfo6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div id='viz_z1_vid2'>
						<iframe id='vid2' width="540" height="315" src="https://www.youtube.com/embed/IRzxfvBUN1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div id='info'>
					<i class="material-icons" id'info_icon'>info</i>
				</div>
		  </div>
		</div>
	</body>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
<script type='text/javascript' src='./human_track.js'></script>
</html>
